@import "tailwindcss";

#root {
  width: 100%;
    
  }
  
  
  /* #mainbox_component_flex_container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  
    
  }

  #mainboxcontent_component_div{
  width: 100%;
  border: solid black 2px;
  margin: 9px;
  padding: 9px;
  } */
  
  